.form {
  font-size: 16px;
  &__radio {
    text-align: left;
  }
}

h1 {
  margin-top: 0;
}

.bp3-label,
label.bp3-label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.form-submit {
  margin-bottom: 20px;
  margin-top: 20px;
}

.policy-container {
  margin-bottom: 30px;
}
