@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.FormContainer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 80vh;
  left: 50%;
  margin: auto 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  z-index: 10;
}
