$z-index: 1000;
.center-piece {
  background-color: blue;
  height: 35px;
  width: 35px;
}

.marker {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60px);
  z-index: $z-index;
}

.bottomBar {
  background-color: white;
  border-top: 1px solid lightgrey;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 20px;
  width: 100%;
  z-index: $z-index;

  > div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
  }
}
